<script src="/res/core/js/page-widget-breakdown.js"></script>

<div class="panel ez no-padding hardcore">
	<div class="panel-heading">
		<h3 class="no-margin">
			Grid Analysis Ideas
		</h3>
		<div class="panel-nav-button">
			<div class="form-group relative align-right no-margin no-padding hardcore">
				<button class="btn btn-sm btn-primary" data-bind="click: bkd.refresh">
					<i class="fa fa-refresh"></i>
				</button>
			</div>
		</div>
	</div>

	<div class="panel-body">
		<!-- {{template "_loader.html"}} -->
		<!-- data-bind="visible: !app.loader()" -->

		<div>
			<div class="breakdown-view table"></div>
		</div>
	</div>
</div>

