<div>
	<div class="col-md-12 col-sm-12 ez panel-filter">
		<div class="panel ez no-padding hardcore">
			<div class="panel-heading">
				<h3 class="no-margin">Organization Chart - Marketing</h3>
				<div class="panel-nav-button">
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12" style="overflow:auto;height: 500px;">
						<div id="diagram"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-sm-12 ez panel-filter">
		<div class="panel ez no-padding hardcore">
			<div class="panel-heading">
				<h3 class="no-margin">Organization Chart - Finance, Audit, IT</h3>
				<div class="panel-nav-button">
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12" style="overflow:auto;height: 500px;">
						<div id="diagramfinance"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-sm-12 ez panel-filter">
		<div class="panel ez no-padding hardcore">
			<div class="panel-heading">
				<h3 class="no-margin">Organization Chart - PSO</h3>
				<div class="panel-nav-button">
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12" style="overflow:auto;height: 500px;">
						<div id="diagrampso"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-sm-12 ez panel-filter">
		<div class="panel ez no-padding hardcore">
			<div class="panel-heading">
				<h3 class="no-margin">Organization Chart - LBO</h3>
				<div class="panel-nav-button">
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12" style="overflow:auto;height: 500px;">
						<div id="diagramlbo"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-sm-12 ez panel-filter">
		<div class="panel ez no-padding hardcore">
			<div class="panel-heading">
				<h3 class="no-margin">Organization Chart - SALES</h3>
				<div class="panel-nav-button">
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12" style="overflow:auto;height: 500px;">
						<div id="diagramsales"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-sm-12 ez panel-filter">
		<div class="panel ez no-padding hardcore">
			<div class="panel-heading">
				<h3 class="no-margin">Organization Chart - SALES</h3>
				<div class="panel-nav-button">
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12" style="overflow:auto;height: 500px;">
						<div id="diagramsales2"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

</div>

<div class="clearfix"></div>
<script src="/res/core/js/page-organization.js"></script>
