<link href="/res/leaflet/leaflet.css" rel="stylesheet">
<script src="/res/leaflet/leaflet.js"></script>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" /> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script> -->

<script src="/res/core/js/page-outlet-location.js"></script>

<div>
	<div class="col-md-12 col-sm-12 ez">
		<div class="panel ez no-padding hardcore">
			<div class="panel-heading">
				<h3 class="no-margin">Godrej Indonesia Outlet Location</h3>
			</div>
			<div class="panel-body">
				<div id="outlet-location"></div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>

<div class="clearfix"></div>
