<script>
let o = {
	ID: "{{.id}}",
	Name: "{{.name}}",
	value1: "{{.value1}}",
	value2: "{{.value2}}",
	value3: "{{.value3}}"
}
</script>
<script src="/res/core/js/page-report.js"></script>
<script src="/res/core/js/page-widget-dummy-data.js"></script>

<div>
{{if eq .id "list"}}
	{{template "page-report-list.html"}}
{{else}}
	<div class="col-md-3 col-sm-3 ez panel-filter" style="display: none;">
		<div class="panel ez no-padding hardcore">
			<div class="panel-heading">
				<h3 class="no-margin">Filter</h3>
				<div class="panel-nav-button">
					<div class="form-group relative align-right no-margin no-padding hardcore" data-bind="visible: false">
						<button class="btn btn-sm btn-primary tooltipster" data-bind="click: rpt.refresh" title="Refresh">
							<i class="fa fa-refresh"></i>
						</button>
						<button class="btn btn-sm btn-info tooltipster" data-bind="click: rpt.toggleFilter" title="Toggle Advanced Filter">
							<i class="fa fa-filter"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div id="from-filter">
					<p>Click each section below to show respective filter.</p>
					<div class="wrapper">
						<div class="panel-group ez-collapse" role="tablist" aria-multiselectable="true" data-bind="template: { name: 'template-report-filter', foreach: rpt.filter }"></div>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 ez panel-content">
	{{if eq .id "dashboard"}}
		<div class="col-md-12 col-sm-12 no-padding hardcore">
			{{template "page-widget-breakdown.html"}}
		</div>
		<div class="col-md-12 col-sm-12 no-padding hardcore">
			{{template "page-widget-chart-scatter.html"}}
		</div>
		<div class="col-md-12 col-sm-12 no-padding hardcore">
			{{template "page-widget-chart-comparison.html"}}
		</div>

		<script>
			// vm.currentMenu('Dashboard')
			// vm.currentTitle('Dashboard')
			bkd.title('P&L Analysis')
			rs.title('P&L Comparison to Net Sales')
			vm.breadcrumb([
				{ title: 'Godrej', href: '#' },
				{ title: 'Daashboard', href: '/web/report/dashboard' }
			])
			rpt.refresh = () => {
				bkd.refresh()
				ccr.refresh()
			}
		</script>
	{{else if eq .id "gross_sales_discount_and_net_sales"}}
		<div class="col-md-12 no-padding hardcore">
			<div class="col-md-12 col-sm-12 no-padding hardcore panel-content-expandable">
				{{template "page-widget-chart.html"}}
			</div>
			<div class="col-md-12 col-sm-12 no-padding hardcore panel-content-expandable">
				{{template "page-widget-pivot.html"}}
			</div>
		</div>
		<div class="col-md-12 no-padding hardcore">
			<div class="col-md-12 col-sm-12 no-padding hardcore panel-content-expandable">
				{{template "page-widget-breakdown.html"}}
			</div>
			<div class="col-md-12 col-sm-12 no-padding hardcore panel-content-expandable">
				{{template "page-widget-table.html"}}
			</div>
		</div>

	{{end}}
	</div>
{{end}}

	
	<div class="clearfix"></div>
</div>