
<div>
	<div class="col-md-12 col-sm-12 ez panel-content">

<div class="panel ez no-padding hardcore">
	<div class="panel-body" style="position: relative; min-height: 50px;">
		<div class="panel-nav-button" style="position: absolute; right: 10px; top: 10px;">
			<div class="form-inline">
				<button class="btn btn-sm btn-success tooltipster tooltipstered" data-bind="click: rd.toggleAnalysisFilter, visible: !rd.isFilterShown()" style="display: none;">
					<i class="fa fa-folder-open-o"></i> Show
				</button>
				<button class="btn btn-sm btn-success tooltipster tooltipstered" data-bind="click: rd.toggleAnalysisFilter, visible: rd.isFilterShown()">
					<i class="fa fa-folder-o"></i> Hide
				</button>
			</div>
		</div>

		<div class="list-analysis" data-bind="foreach: rd.menu" style="margin: 5px 0px; margin: 5px 0px; margin-right: 58px;">
			<div class="col-md-3">
				<div class="wrapper">
					<a class="color-base listcolor-active" href="#" data-bind="attr: { 'href': '{{BaseUrl}}page/reportdynamic?p=' + $data.id }">
						<span class="fa fa-file-text-o"></span>
						&nbsp;&nbsp;
						<span data-bind="html: $data.title"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
	</div>
</div>

	<div class="col-md-12 col-sm-12 ez panel-content">

	<script src="{{BaseUrl}}res/core/js/page-report.js?ANTI_CACHE={{.AntiCache}}"></script>
	<script src="{{BaseUrl}}res/core/js/page-report-dynamic.js?ANTI_CACHE={{.AntiCache}}"></script>

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="tab2">
	<div class="panel ez no-padding hardcore">
		<div class="panel-heading">
			<h3 class="no-margin">&nbsp;</h3>
			<div class="panel-nav-button" data-bind="visible: !rd.contentIsLoading()">
				<div class="form-inline">
					<button class="btn btn-sm btn-primary tooltipster" data-bind="click: rd.refresh" title="Refresh P&L Analysis">
						<i class="fa fa-refresh"></i> Refresh
					</button>
					<button class="btn btn-sm btn-info tooltipster filter-button" data-bind="click: rpt.toggleFilter" title="Toggle Advanced Filter">
						<i class="fa fa-server"></i> Show Filter
					</button>
				</div>
			</div>
		</div>

		<div class="panel-body">
			<div class="filter" data-bind="visible: !rd.contentIsLoading()">
				<div class="form-inline pull-right">
					<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
						<span class="input-group-addon width-100 align-right">Fiscal Year</span>
						<div class="width-full">
							<select type="text" style="width: 150px;" data-bind="kendoDropDownList: { data: rpt.optionFiscalYears, value: rd.fiscalYear }"></select>
						</div>
					</div>

					<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5 filter-unit" data-bind="visible: rd.useFilterMonth">
						<span class="input-group-addon width-100 align-right">Month</span>
						<div class="width-full">
							<select style="width: 150px;" data-bind="kendoDropDownList: { data: rd.optionFilterMonths, dataTextField: 'name', dataValueField: 'field', value: rd.filterMonth }"></select>
						</div>
					</div>

					<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
						<span class="input-group-addon width-100 align-right">Breakdown By</span>
						<div class="width-full">
							<select type="text" style="width: 150px;" data-bind="kendoDropDownList: { data: rpt.optionDimensions, dataValueField: 'field', dataTextField: 'name', value: rd.breakdownBy }"></select>
						</div>
					</div>

					<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5 filter-unit">
						<span class="input-group-addon width-100 align-right">Unit</span>
						<div class="width-full">
							<select style="width: 150px;" data-bind="kendoDropDownList: { data: rd.optionDivide, dataTextField: 'name', dataValueField: 'field', value: rd.divideBy }"></select>
						</div>
					</div>

					<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5" data-bind="visible: rd.useLimit">
						<span class="input-group-addon width-100 align-right">Limit</span>
						<div class="width-full">
							<input type="text" style="width: 150px;" data-bind="kendoNumericTextBox: { value: rd.limit, format: '#' }" />
						</div>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>

			<div data-bind="visible: rd.contentIsLoading">
				{{template "_loader.html"}}
			</div>

			<div data-bind="visible: !rd.contentIsLoading()" style="overflow-x: scroll; padding-bottom: 10px;">
				<div class="report"></div>
			</div>
		</div>
	</div>
			</div>
		</div>
	</div>

	<div class="col-md-3 col-sm-3 ez panel-filter for-sga" data-bind="visible: (rd.pageIs() == 'sga-cost-ratio')">
		<div class="panel ez no-padding hardcore panel-fix">
			<div class="panel-heading">
				<h3 class="no-margin">Filter</h3>
			</div>
			<div class="panel-body">
				<div class="from-filter">
					<p>Click each section below to show respective filter.</p>
					<div class="wrapper">
						<div class="panel-group ez-collapse">
							<div class="panel">
								<div class="panel-heading" role="tab" id="h-0">
						            <h4 class="panel-title">
										<a role="button" data-toggle="collapse" data-parent=".ez-collapse" href="#c-0">
											<span class="pull-left">Base Filter</span>
											<span class="pull-right">
												<i class="fa fa-angle-left"></i>
												<i class="fa fa-angle-down"></i>
											</span>
											<span class="clearfix"></span>
										</a>
									</h4>
						        </div>
						        <div class="panel-collapse collapse in" role="tabpanel" id="c-0">
						        	<div class="panel-body">
						        		<div class="form-group">
						                    <div class="input-group input-group-sm ez width-full">
						                        <span class="input-group-addon width-80 align-right">Branch Level 1</span>
						                        <div class="width-full">
						                        	<select data-bind="kendoMultiSelect: { data: rpt.masterData.Branch, value: rd.sgaCostBranchName, dataValueField: 'Name', dataTextField: 'Name', placeholder: 'Select branches' }"></select>
						                        </div>
						                    </div>
						                </div>
						        		<div class="form-group">
						                    <div class="input-group input-group-sm ez width-full">
						                        <span class="input-group-addon width-80 align-right">Branch Level 2</span>
						                        <div class="width-full">
						                        	<select data-bind="kendoMultiSelect: { data: rd.sgaCostOptionBranchLvl2, value: rd.sgaCostBranchLvl2, dataValueField: 'Name', dataTextField: 'Name', placeholder: 'Select branches' }"></select>
						                        </div>
						                    </div>
						                </div>
						        		<div class="form-group">
						                    <div class="input-group input-group-sm ez width-full">
						                        <span class="input-group-addon width-80 align-right">Branch Group</span>
						                        <div class="width-full">
						                        	<select data-bind="kendoMultiSelect: { data: rpt.masterData.BranchGroup, value: rd.sgaCostBranchGroup, dataValueField: 'Name', dataTextField: 'Name', placeholder: 'Select branches' }"></select>
						                        </div>
						                    </div>
						                </div>
						        		<div class="form-group">
						                    <div class="input-group input-group-sm ez width-full">
						                        <span class="input-group-addon width-80 align-right">Function</span>
						                        <div class="width-full">
						                        	<select data-bind="kendoMultiSelect: { data: rd.sgaCostOptionCostGroup, value: rd.sgaCostCostGroup, dataValueField: 'Name', dataTextField: 'Name', placeholder: 'Select branches' }"></select>
						                        </div>
						                    </div>
						                </div>
						        	</div>
						        </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{template "_filter.html"}}
</div>

