<script src="/res/core/js/page-report-branchanalysis.js"></script>

<div class="col-md-12 col-sm-12 no-padding hardcore">
	<div class="panel ez no-padding hardcore">
		<div class="panel-heading">
			<h3 class="no-margin" data-bind="text: ba.title"></h3>
			<div class="panel-nav-button" data-bind="visible: !ba.contentIsLoading()">
				<div class="form-inline">

					<button class="btn btn-sm btn-primary tooltipster" data-bind="click: ba.refresh" title="Refresh P&L Analysis">
						<i class="fa fa-refresh"></i> Refresh
					</button>
					<button class="btn btn-sm btn-info tooltipster" data-bind="click: rpt.toggleFilter" title="Toggle Advanced Filter">
						<i class="fa fa-server"></i> Show Filter
					</button>
				</div>
			</div>
		</div>

		<div class="panel-body">
			<div class="filter" data-bind="visible: !ba.contentIsLoading()">
				<div class="form-inline pull-right">
					<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5" data-bind="visible: ('All' != ba.breakdownRD())">
						<span class="input-group-addon align-right">
							Expand
							<span data-ind="text: (ba.breakdownRD() == 'OnlyRD') ? 'RD' : 'Non RD'"></span>
						</span>
						<div class="width-50">
							<input type="checkbox" class="form-control input-sm" data-bind="checked: ba.expand">
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
						<span class="input-group-addon align-right">Fiscal Year</span>
						<div class="width-full">
							<select type="text" style="width: 120px;" data-bind="kendoDropDownList: { data: rpt.optionFiscalYears, value: ba.fiscalYear }"></select>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
						<span class="input-group-addon align-right">Show</span>
						<div class="width-full">
							<select type="text" style="width: 120px;" data-bind="kendoDropDownList: { data: ba.optionBranch, dataValueField: 'id', dataTextField: 'title', value: ba.breakdownRD }"></select>
						</div>
						<div class="clearfix"></div>
					</div>
					<!-- <div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
						<span class="input-group-addon align-right">Breakdown by</span>
						<div class="width-full">
							<select type="text" style="width: 150px;" data-bind="kendoDropDownList: { data: ba.optionDimensions, dataValueField: 'field', dataTextField: 'name', value: ba.breakdownBy, select: ba.changeBreakdown }"></select>
						</div>
						<div class="clearfix"></div>
					</div> -->
					<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
						<span class="input-group-addon align-right">Breakdown Value</span>
						<div class="width-full">
							<select type="text" style="width: 200px;" data-bind="kendoMultiSelect: { data: ba.optionBreakdownValues, dataValueField: '_id', dataTextField: 'Name', value: ba.breakdownValue, placeholder: 'Choose value', change: ba.changeBreakdownValue }"></select>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>

			<div data-bind="visible: ba.contentIsLoading">
				{{template "_loader.html"}}
			</div>

			<div data-bind="visible: !ba.contentIsLoading()">
				<div class="breakdown-view ez"></div>
			</div>
		</div>
	</div>
</div>