<style>
	.breakdown-view .k-grid-header .k-header {
	    text-align: center;
	    border-color: white;
	    font-weight: bold;
	}

	.k-grid tr td {
	    border-right: 1px solid #f0f3f4;
	}
</style>

<div>
	<div class="col-md-12 col-sm-12 ez panel-content">

<script src="{{BaseUrl}}res/core/js/page-report.js?ANTI_CACHE={{.AntiCache}}"></script>
<script src="{{BaseUrl}}res/core/js/page-report-volpriceanalysis.js?ANTI_CACHE={{.AntiCache}}"></script>

<div class="col-md-12 col-sm-12 no-padding hardcore">
	<div class="panel ez no-padding hardcore">
		
		<div class="panel-heading">
			<h3 class="no-margin">&nbsp;</h3>
			<div class="panel-nav-button" data-bind="visible: !vpa.contentIsLoading()">
				<div class="form-inline">
					<button class="btn btn-sm btn-primary tooltipster" data-bind="click: vpa.refresh" title="Refresh P&L Analysis">
						<i class="fa fa-refresh"></i> Refresh
					</button>
					<button class="btn btn-sm btn-warning tootipster" data-bind="visible: rpt.showExport" onclick="rpt.export('#volume-price-analysis', 'Volume Price Analysis', 'kendonormal')">
						<i class="fa fa-download"></i> Export as Excel
					</button>
					<button class="btn btn-sm btn-info tooltipster" data-bind="click: rpt.toggleFilter" title="Toggle Advanced Filter">
						<i class="fa fa-server"></i> Show Filter
					</button>
				</div>
			</div>
		</div>

		<div class="panel-body">

			<div data-bind="visible: vpa.contentIsLoading">
				{{template "_loader.html"}}
			</div>

			<div data-bind="visible: !vpa.contentIsLoading()">
				<div class="col-md-12">
				<div class="filter" data-bind="visible: !vpa.contentIsLoading()">
					<div class="form-inline pull-right">
						<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
							<span class="input-group-addon align-right">Brand </span>
							<div class="width-full">
								<input type="text" class="filterBrand" style="width: 150px;" data-bind="kendoDropDownList: { data: vpa.optionFilterProductBrand, value: vpa.brand, dataTextField: 'Name', dataValueField: '_id' }" />
							</div>
							<div class="clearfix"></div>
						</div>

						<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
							<span class="input-group-addon align-right">Outlet </span>
							<div class="width-full">
								<select class="outlet-filter" type="text" style="width: 200px;"></select>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				</div>

				<div class="col-md-12">				
				<div class="breakdown-view ez" id="volume-price-analysis"></div>
				</div>

			</div>
		</div>
	</div>
</div>

	</div>

	{{template "_filter.html"}}
</div>