<div class="col-md-8 col-sm-8 ez panel-content">
	<div class="panel ez no-padding hardcore">
		<div class="panel-heading">
			<h3 class="no-margin">
				<button class="btn-toggle-filter no-padding"></button>
				Pivot
			</h3>
			<div class="panel-nav-button">
				<div class="form-group relative align-right no-margin no-padding hardcore">
					<button class="btn btn-sm btn-warning" data-bind="click: () => { pvt.mode('') }, visible: pvt.mode() == 'render'">
						<i class="fa fa-arrow-left"></i> Back to Editor
					</button>
					<button class="btn btn-sm btn-primary" data-bind="click: rpt.refreshData, visible: pvt.mode() == ''">
						<i class="fa fa-refresh"></i> Reload Report
					</button>
				</div>
			</div>
		</div>
		<div class="panel-body" data-bind="visible: pvt.mode() == ''">
			<p>Build pivot grid to compare data on selected dimension and data points.</p>

			<div class="report-module report-module-pivot">

				<div class="col-md-3 pivot-wrapper">
<div class="wrapper-inner">
	<h3 class="no-margin">Available fields</h3>
	<div class="wrapper" style="min-height: 300px;">
		<ul class="list-group ez pivot-section pivot-section-fields" data-bind="foreach: pvt.fields" style="min-height: 300px;">
			<li class="list-group-item tooltipster-late" data-bind="attr: { title: rpt.titleFor($data) }">
				<div class="wrapper">
					<span class="text" data-bind="text: $data.Name, attr: { 'data-id': $data._id }"></span>
					<span class="icon tooltipster" title="Click to add" onclick="pvt.showFieldControl(this)">
						<i class="fa fa-share-square"></i>
					</span>
				</div>
			</li>
		</ul>
	</div>
</div>
				</div>

				<div class="col-md-9">
					<div class="row">
						<div class="col-md-4 no-padding hardcore">
							<div class="col-md-12 pivot-wrapper">
<div class="wrapper-inner" data-module="column">
	<h3 class="no-margin">Columns</h3>
	<div class="wrapper" style="min-height: 300px;">
		<ul class="list-group ez pivot-section" data-bind="foreach: pvt.columns" style="min-height: 300px;">
			<li class="list-group-item">
				<div class="wrapper">
					<span class="text" data-bind="text: $data._id, attr: { 'data-id': $data._id }"></span>
					<span class="expandable tooltipster" title="expand?">
						<input type="checkbox" data-bind="checked: $data.expand">
					</span>
					<span class="icon tooltipster" title="Remove from column" data-bind="attr: { 'onclick': 'pvt.removeFromColumn(this)', 'data-id': $data._id }">
						<i class="fa fa-remove"></i>
					</span>
				</div>
			</li>
		</ul>
	</div>
</div>
							</div>
							<div class="col-md-12 pivot-wrapper">
<div class="wrapper-inner" data-module="row">
	<h3 class="no-margin">Rows</h3>
	<div class="wrapper" style="min-height: 300px;">
		<ul class="list-group ez pivot-section" data-bind="foreach: pvt.rows" style="min-height: 300px;">
			<li class="list-group-item">
				<div class="wrapper">
					<span class="text" data-bind="text: $data._id, attr: { 'data-id': $data._id }"></span>
					<span class="expandable tooltipster" title="expand?">
						<input type="checkbox" data-bind="checked: $data.expand">
					</span>
					<span class="icon tooltipster" title="Remove from row" data-bind="attr: { 'onclick': 'pvt.removeFromRow(this)', 'data-id': $data._id }">
						<i class="fa fa-remove"></i>
					</span>
				</div>
			</li>
		</ul>
	</div>
</div>
							</div>
						</div>
						<div class="col-md-4 pivot-wrapper">
<div class="wrapper-inner" data-module="value">
	<h3 class="no-margin">Aggregates</h3>
	<div class="wrapper" style="min-height: 300px;">
		<ul class="list-group ez pivot-section" data-bind="foreach: pvt.optionValues" style="min-height: 300px;">
			<li class="list-group-item" >
				<div class="wrapper">
					<span class="text" data-bind="text: $data.Name, attr: { 'data-id': $data._id }"></span>
					<span class="icon aggregate pull-right" data-bind="attr: { 'data-id': $data._id }">
						<input type="checkbox" data-bind="checked: pvt.isAggregate($data._id), click: pvt.changeAggregate($data._id)">
					</span>
				</div>
			</li>
		</ul>
	</div>
</div>
						</div>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>




		<div class="panel-body" data-bind="visible: pvt.mode() == 'render'">
			<p>Generated pivot grid.</p>

			<div class="pivot"></div>
		</div>
	</div>

	</div>
</div>