<div class="panel ez no-padding hardcore">
	<div class="panel-heading">
		<h3 class="no-margin">
			Branch Location
		</h3>
		<div class="panel-nav-button">
			<div class="form-group relative align-right no-margin no-padding hardcore">
				<!-- <button class="btn btn-sm btn-primary" data-bind="click: () => { pvt.mode('') }, visible: pvt.mode() == 'render'">
					<i class="fa fa-gear"></i> Show Configuration
				</button> -->
			</div>
		</div>
	</div>
	<div class="panel-body">
		<p>Show godrej outlets location of Indoesia.</p>

		<div id="outlet-location"></div>
	</div>
</div>

