<div class="col-md-12 no-padding hardcore">
	<div class="col-md-12 col-sm-12 no-padding hardcore panel-content-expandable">
		{{template "page-widget-chart.html"}}
	</div>
	<div class="col-md-12 col-sm-12 no-padding hardcore panel-content-expandable">
		{{template "page-widget-pivot.html"}}
	</div>
</div>

<script>
	$(() => {
		pvt.row('customer.channelname')
		pvt.column('customer.branchname')
		pvt.dataPoints = ko.observableArray([
			{ field: 'discount', title: 'Discount', name: 'Discount' },
			{ field: 'qty', title: 'Qty', name: 'Qty' },
			{ field: 'discountbyqty', title: 'Discount / Qty', name: 'Discount / Qty' }
		])
		
		pvt.data([{
			customer_channelname: 'GT', customer_branchname: 'Surabaya',
			discount: 20000,
			qty: 2000,
			discountbyqty: 10
		}, {
			customer_channelname: 'MT', customer_branchname: 'Surabaya',
			discount: 22000,
			qty: 1000,
			discountbyqty: 22
		}, {
			customer_channelname: 'GT', customer_branchname: 'Malang',
			discount: 23000,
			qty: 3000,
			discountbyqty: 23
		}, {
			customer_channelname: 'GT', customer_branchname: 'Malang',
			discount: 22000,
			qty: 2000,
			discountbyqty: 11
		}])
		crt.data(pvt.data())
		crt.series(pvt.dataPoints())
		pvt.refresh()
		crt.refresh()
	})
</script>