<script src="/res/core/js/page-databrowser.js"></script>

<div data-bind="with: db">
	<div data-bind="visible: app.is(section, '')">
		<div class="col-md-6">
			<div class="panel panel-ez">
				<div class="panel-heading">
					<h3>Browser Configuration</h3>
				</div>
				<div class="panel-body">
					<p>Setup the data browser. Please choose which data model you want to show. The field and filter can be customized.</p>

					<div class="wrapper">
						<div class="form">
							<div class="input-group input-group-ez input-group-sm">
								<span class="input-group-addon">Data Model</span>
								<select id="data-model" required data-required-msg="Data Model cannot be empty" data-bind="kendoDropDownList: dropDownConfigDataModel" style="width: 200px;"></select>
								<span class="k-invalid-msg" data-for="data-model"></span>
							</div>
						</div>
						<div class="col-md-12 row">
							<div class="grid-config" data-bind="kendoGrid: gridConfigDataModel"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- <form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
  </div>
  <button type="submit" class="btn btn-default">Send invitation</button>
</form> -->

	<div data-bind="visible: app.is(section, '')">
		
	</div>

	<div class="col-md-6">
		<div class="panel panel-ez">
			<div class="panel-heading">
				<h3>Chart 2</h3>
			</div>
			<div class="panel-body" style="height: 250px">
				<div class="chart-2" style="height: 230px"></div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="panel panel-ez">
			<div class="panel-heading">
				<h3>Grid</h3>
				<div class="pull-right filter-toggle">
					<label>Show Filter</label>
					<div class="material-switch">
						<input id="filter-toggle-panel-3" type="checkbox" />
						<label for="filter-toggle-panel-3" class="label-success"></label>
						<div class="clearfix"></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="panel-body">
				<div class="panel-filter">
					<div class="col-md-3">
						<div class="input-group input-group-ez input-group-sm">
							<span class="input-group-addon">Search</span>
							<input type="text" class="form-control" placeholder="Type something here ..." />
						</div>
					</div>
					<div class="col-md-3">
						<div class="input-group input-group-ez input-group-sm">
							<span class="input-group-addon">Category</span>
							<select data-bind="kendoDropDownList: { data: ['a', 'b', 'c', 'd', 'e'], optionLabel: 'Click to select one ...' }" style="width: 100%"></select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="input-group input-group-ez input-group-sm">
							<span class="input-group-addon">Category</span>
							<select data-bind="kendoMultiSelect: { data: ['a', 'b', 'c', 'd', 'e'], placeholder: 'Click to select one ...' }" style="width: 100%"></select>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="grid-1"></div>
			</div>
		</div>
	</div>
	<!-- <div class="col-md-6">
		<div class="panel panel-ez">
			<div class="panel-heading">
				<h3>Form Element</h3>
			</div>
			<div class="panel-body" style="height: 250px">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-md-2 form-label">Email</label>
						<div class="col-md-10">
							<input type="text" class="form-control input-sm" placeholder="Email"/>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div> -->

	<div class="clearfix"></div>
</div>
