<div class="col-md-12 col-sm-12 no-padding hardcore">
	{{template "page-widget-breakdown.html"}}
</div>
<div class="col-md-12 col-sm-12 no-padding hardcore">
	{{template "page-widget-chart-scatter.html"}}
</div>
<div class="col-md-12 col-sm-12 no-padding hardcore">
	{{template "page-widget-chart-comparison.html"}}
</div>

<script>
	// vm.currentMenu('Dashboard')
	// vm.currentTitle('Dashboard')
	bkd.title('P&L Analysis')
	rs.title('P&L Comparison to Net Sales')
	vm.breadcrumb([
		{ title: 'Godrej', href: '#' },
		{ title: 'Daashboard', href: '/web/report/dashboard' }
	])
	rpt.refresh = () => {
		bkd.refresh()
		ccr.refresh()
	}
</script>