<script src="/res/core/js/page-widget-table.js"></script>

<div class="panel ez no-padding hardcore">
	<div class="panel-heading">
		<h3 class="no-margin">
			Tabular Grid
		</h3>
		<div class="panel-nav-button">
			<div class="form-group relative align-right no-margin no-padding hardcore">
				<button class="btn btn-sm btn-primary" data-bind="click: () => { tbl.mode('') }, visible: (tbl.mode() == 'render')">
					<i class="fa fa-gear"></i> Show Configuration
				</button>
				<button class="btn btn-sm btn-primary" data-bind="click: () => { tbl.mode('render') }, visible: (tbl.mode() == '')">
					<i class="fa fa-eye"></i> Show Table
				</button>
			</div>
		</div>
	</div>
	<div class="panel-body" data-bind="visible: tbl.mode() == ''">
		<div class="report-module report-module-rsec">
			<div class="col-md-6 rsec-wrapper rsec-wrapper-column left" data-bind="css: { 'read-only': !tbl.enableDimensions() }">
				<div class="wrapper-inner" data-module="column">
					<h3 class="no-margin">
						<i class="fa fa-reorder"></i>
						Dimensions
					</h3>
					<div class="wrapper" style="min-height: 242px;">
						<div class="list-group ez rsec-section rsec-section-columns" data-bind="foreach: ra.optionDimensions" style="min-height: 242px;">
							<div class="input-group input-group-sm ez width-full">
								<span class="text" data-bind="text: $data.name"></span>
								<span class="input-group-addon">
									<input type="checkbox" data-bind="checked: tbl.computeDimensionDataPoint('dimensions', $data.field)" />
								</span>
								<!-- <span class="input-group-addon tooltipster clickable" title="Click to remove" data-bind="attr: { 'data-id': $data.field }" onclick="tbl.removeFrom(this, 'columns')">
									<input type="checkbox" />
								</span> -->
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 rsec-wrapper rsec-wrapper-column right" data-bind="css: { 'read-only': !tbl.enableDataPoints() }">
				<div class="wrapper-inner" data-module="column">
					<h3 class="no-margin">
						<i class="fa fa-columns"></i>
						Data Points
					</h3>
					<div class="wrapper" style="min-height: 242px;">
						<div class="list-group ez rsec-section rsec-section-columns" data-bind="foreach: ra.optionDataPoints" style="min-height: 242px;">
							<div class="input-group input-group-sm ez width-full">
								<span class="text" data-bind="text: $data.name"></span>
								<span class="input-group-addon">
									<input type="checkbox" data-bind="checked: tbl.computeDimensionDataPoint('dataPoints', $data.field)" />
								</span>
								<!-- <span class="input-group-addon tooltipster clickable" title="Click to remove" data-bind="attr: { 'data-id': $data.field }" onclick="tbl.removeFrom(this, 'columns')">
									<input type="checkbox" />
								</span> -->
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="clearfix"></div>
		</div>
	</div>

	<div class="panel-body" data-bind="visible: tbl.mode() == 'render'">
		{{template "_loader.html"}}

		<div data-bind="visible: !app.loader()">
			<div class="tabular-view table"></div>
		</div>
	</div>
</div>

