<style>
	#sga .pivot-pnl .table-header,
	#el .pivot-pnl .table-header {
		width: 470px;
	}
	#sga .pivot-pnl .table-content,
	#sga .scroll-grid-bottom,
	#el .pivot-pnl .table-content,
	#el .scroll-grid-bottom {
		margin-left: 470px;
	}
	#sga .scroll-grid-bottom.viewscrollfix.arrow,
	#el .scroll-grid-bottom.viewscrollfix.arrow {
		margin-left: 446px;
	}

	.pivot-pnl table tr.footerTotal td {
		background-color: #F0F3F4;
		border-color: #f0f3f4;
		color: #58666e !important;
		padding-top: 8px;
		padding-bottom: 8px;
		font-weight: bold;
	}
	.pivot-pnl table tr.footerTotal:hover td {
		background-color: #F0F3F4;
		color: #58666e !important;
	}

	#yoy .k-grid-content tr td:nth-child(3) {
		border-right: 1px solid #f0f3f4;
	}
</style>
<div>
	<div class="col-md-12 col-sm-12 ez panel-content">

<script src="{{BaseUrl}}res/core/js/page-report.js?ANTI_CACHE={{.AntiCache}}"></script>
<script src="{{BaseUrl}}res/core/js/page-report-sga.js?ANTI_CACHE={{.AntiCache}}"></script>

	<!-- Nav tabs -->
	<ul class="nav nav-pills nav-replace-title" role="tablist" data-bind="visible: (!sga.contentIsLoading() && !au.contentIsLoading() && !el.contentIsLoading())">
		<li role="presentation" class="active">
			<a href="#tab1" role="tab" data-toggle="tab" onclick="sga.resetAllFilters(); sga.changeAndRefresh('BranchName', 'G&A by Branch Level 1');">Branch Level 1</a>
		</li>
		<li role="presentation">
			<a href="#tab1" role="tab" data-toggle="tab" onclick="sga.resetAllFilters(); sga.changeAndRefresh('BranchLvl2', 'G&A by Branch Level 2');">Branch Level 2</a>
		</li>
		<li role="presentation">
			<a href="#tab1" role="tab" data-toggle="tab" onclick="sga.resetAllFilters(); sga.changeAndRefresh('BranchGroup', 'G&A by Branch Group');">Branch Group</a>
		</li>
		<li role="presentation">
			<a href="#tab1" role="tab" data-toggle="tab" onclick="sga.resetAllFilters(); sga.changeAndRefresh('CostGroup', 'G&A by Function');">Function</a>
		</li>
		<li role="presentation">
			<a href="#tab2" role="tab" data-toggle="tab" onclick="sga.resetAllFilters(); au.changeTo('only-channel'); au.refresh();">Channel</a>
		</li>
		<li role="presentation">
			<a href="#tab2" role="tab" data-toggle="tab" onclick="sga.resetAllFilters(); au.changeTo(''); au.refresh();">Direct & Allocated</a>
		</li>
		<li role="presentation">
			<a href="#tab3" role="tab" data-toggle="tab" onclick="sga.resetAllFilters(); yoy.refresh();">YoY Comparison</a>
		</li>
		<li role="presentation">
			<a href="#tab4" role="tab" data-toggle="tab" onclick="sga.resetAllFilters(); sga.title('Without Elimination Data'); el.refresh();">Without Elimination Data</a>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="tab1">




<div class="col-md-12 col-sm-12 no-padding hardcore">
	<div class="panel ez no-padding hardcore">
		<div class="panel-heading">
			<h3 class="no-margin" data-bind="html: sga.title()">&nbsp;</h3>
			<div class="panel-nav-button" data-bind="visible: !sga.contentIsLoading()">
				<div class="form-inline">
					<button class="btn btn-sm btn-primary tooltipster" data-bind="click: sga.refresh" title="Refresh P&L Analysis">
						<i class="fa fa-refresh"></i> Refresh
					</button>
					<button class="btn btn-sm btn-warning tootipster" data-bind="visible: rpt.showExport" onclick="sga.exportExcel()">
						<i class="fa fa-download"></i> Export as Excel
					</button>
				</div>
			</div>
		</div>

		<div class="panel-body">
			<div class="filter" data-bind="visible: !sga.contentIsLoading()">
				<div class="form-inline pull-right">
					<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
						<span class="input-group-addon align-right">Fiscal Year</span>
						<div class="width-full">
							<select type="text" style="width: 150px;" data-bind="kendoDropDownList: { data: rpt.optionFiscalYears, value: sga.fiscalYear }"></select>
						</div>
						<div class="clearfix"></div>
					</div>

					<!-- <div class="input-group input-group-sm ez margin-bottom-10 margin-right-5" data-bind="visible: (sga.title() == 'G&A by Branch Level 1')">
						<span class="input-group-addon align-right">Filter By</span>
						<div class="width-full">
							<select type="text" style="width: 150px;" data-bind="kendoDropDownList: { data: sga.filterbylv1, value: sga.filterBy, dataValueField: 'id', dataTextField: 'title', placeholder: 'Select filter', select: sga.selectfilter }"></select>
						</div>
						<div class="clearfix"></div>
					</div> -->

					<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5" data-bind="visible: (sga.title() == 'G&A by Branch Level 2')">
						<span class="input-group-addon align-right">Filter By</span>
						<div class="width-full">
							<select type="text" style="width: 150px;" data-bind="kendoDropDownList: { data: sga.filterbylv2, value: sga.filterBy, dataValueField: 'id', dataTextField: 'title', placeholder: 'Select filter', select: sga.selectfilter }"></select>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5" data-bind="visible: (sga.breakdownBy() == 'BranchName' && sga.filterBy() == 'BranchName')">
						<span class="input-group-addon align-right">Branch Level 1</span>
						<div class="width-full">
							<select type="text" style="width: 150px;" data-bind="kendoMultiSelect: { data: rpt.masterData.Branch, value: sga.filterBranch, dataValueField: 'Name', dataTextField: 'Name', placeholder: 'Select branches' }"></select>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5" data-bind="visible: ((sga.breakdownBy() == 'BranchLvl2' && sga.filterBy() == 'BranchLvl2') || (sga.breakdownBy() == 'BranchName'&& sga.filterBy() == 'BranchLvl2'))">
						<span class="input-group-addon align-right">Branch Level 2</span>
						<div class="width-full">
							<select type="text" style="width: 150px;" data-bind="kendoMultiSelect: { data: sga.optionBranchLvl2, value: sga.filterBranchLvl2, dataValueField: 'Name', dataTextField: 'Name', placeholder: 'Select branches' }"></select>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5" data-bind="visible: (sga.breakdownBy() == 'BranchGroup' || (sga.filterBy() == 'BranchGroup' && sga.breakdownBy() != 'BranchGroup'))">
						<span class="input-group-addon align-right">Branch Group</span>
						<div class="width-full">
							<select type="text" style="width: 150px;" data-bind="kendoMultiSelect: { data: rpt.masterData.BranchGroup, value: sga.filterBranchGroup, dataValueField: 'Name', dataTextField: 'Name', placeholder: 'Select branch groups' }"></select>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5" data-bind="visible: (sga.breakdownBy() == 'CostGroup')">
						<span class="input-group-addon align-right">Function</span>
						<div class="width-full">
							<select type="text" style="width: 150px;" data-bind="kendoMultiSelect: { data: sga.optionFilterCostGroups, value: sga.filterCostGroup, dataValueField: 'Name', dataTextField: 'Name', placeholder: 'Select functions' }"></select>
						</div>
						<div class="clearfix"></div>
					</div>

				</div>
				<div class="clearfix"></div>
			</div>

			<div data-bind="visible: sga.contentIsLoading">
				{{template "_loader.html"}}
			</div>

			<div data-bind="visible: !sga.contentIsLoading()">
				<div class="breakdown-view ez" id="sga"></div>
			</div>
		</div>
	</div>
</div>




		</div>
		<div role="tabpanel" class="tab-pane" id="tab2">




<div class="col-md-12 col-sm-12 no-padding hardcore">
	<div class="panel ez no-padding hardcore">
		<div class="panel-heading">
			<h3 class="no-margin">G&A Direct & Allocated</h3>
			<div class="panel-nav-button" data-bind="visible: !au.contentIsLoading()">
				<div class="form-inline">
					<button class="btn btn-sm btn-primary tooltipster" data-bind="click: au.refresh" title="Refresh P&L Analysis">
						<i class="fa fa-refresh"></i> Refresh
					</button>
					<button class="btn btn-sm btn-warning tootipster" data-bind="visible: rpt.showExport" onclick="rpt.export('#au', 'G&A Direct & Allocated', 'header-content')">
						<i class="fa fa-download"></i> Export as Excel
					</button>
					<button class="btn btn-sm btn-info tooltipster" data-bind="click: rpt.toggleFilter" title="Toggle Advanced Filter">
						<i class="fa fa-server"></i> Show Filter
					</button>
				</div>
			</div>
		</div>

		<div class="panel-body">
			<div class="filter" data-bind="visible: !au.contentIsLoading()">
				<div class="form-inline pull-right">
					<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
						<span class="input-group-addon align-right">Fiscal Year</span>
						<div class="width-full">
							<select type="text" style="width: 150px;" data-bind="kendoDropDownList: { data: rpt.optionFiscalYears, value: au.fiscalYear }"></select>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5" data-bind="visible: au.isUseBreakdownBy">
						<span class="input-group-addon align-right">Breakdown By</span>
						<div class="width-full">
							<select type="text" style="width: 150px;" data-bind="kendoDropDownList: { data: au.optionDimensions, dataValueField: 'field', dataTextField: 'name', value: au.breakdownBy, change: au.changeBreakdownBy }"></select>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
						<span class="input-group-addon align-right">Branch Group</span>
						<div class="width-full">
							<select type="text" style="width: 150px;" data-bind="kendoMultiSelect: { data: rpt.masterData.BranchGroup, value: au.breakdownBranchGroup, dataValueField: 'Name', dataTextField: 'Name', placeholder: 'Select branch groups' }"></select>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>

			<div data-bind="visible: au.contentIsLoading">
				{{template "_loader.html"}}
			</div>

			<div data-bind="visible: !au.contentIsLoading()">
				<div class="breakdown-view ez" id="au"></div>
			</div>
		</div>
	</div>
</div>




		</div>
		<div role="tabpanel" class="tab-pane" id="tab3">




<div class="col-md-12 col-sm-12 no-padding hardcore">
	<div class="panel ez no-padding hardcore">
		<div class="panel-heading">
			<h3 class="no-margin">Year on Year Comparison</h3>
			<div class="panel-nav-button" data-bind="visible: !au.contentIsLoading()">
				<div class="form-inline">
					<button class="btn btn-sm btn-primary tooltipster" data-bind="click: yoy.refresh" title="Refresh P&L Analysis">
						<i class="fa fa-refresh"></i> Refresh
					</button>
					<button class="btn btn-sm btn-warning tootipster" data-bind="visible: rpt.showExport" onclick="rpt.export('#yoy', 'Year on Year Comparison', 'kendo')">
						<i class="fa fa-download"></i> Export as Excel
					</button>
					<button class="btn btn-sm btn-info tooltipster" data-bind="click: rpt.toggleFilter" title="Toggle Advanced Filter">
						<i class="fa fa-server"></i> Show Filter
					</button>
				</div>
			</div>
		</div>

		<div class="panel-body">
			<div class="filter" data-bind="visible: !yoy.contentIsLoading()">
				<div class="form-inline pull-right">
					<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
						<span class="input-group-addon align-right">Breakdown By</span>
						<div class="width-full">
							<select type="text" style="width: 150px;" data-bind="kendoDropDownList: { data: yoy.optionDimensions, dataValueField: 'field', dataTextField: 'name', value: yoy.breakdownBy, select: yoy.changeBreakdownBy }"></select>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
						<span class="input-group-addon align-right">Breakdown Value</span>
						<div class="width-full">
							<select type="text" style="width: 150px;" data-bind="kendoMultiSelect: { data: yoy.optionBreakdownValues, dataValueField: 'Name', dataTextField: 'Name', value: yoy.breakdownValue, placeholder: 'Select breakdown value' }"></select>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>

			<div data-bind="visible: yoy.contentIsLoading">
				{{template "_loader.html"}}
			</div>

			<div data-bind="visible: !yoy.contentIsLoading()">
				<div class="breakdown-view ez" id="yoy"></div>
			</div>
		</div>
	</div>
</div>



	
		</div>
		<div role="tabpanel" class="tab-pane" id="tab4">




<div class="col-md-12 col-sm-12 no-padding hardcore">
	<div class="panel ez no-padding hardcore">
		<div class="panel-heading">
			<h3 class="no-margin" data-bind="html: sga.title()">&nbsp;</h3>
			<div class="panel-nav-button" data-bind="visible: !el.contentIsLoading()">
				<div class="form-inline">
					<button class="btn btn-sm btn-primary tooltipster" data-bind="click: el.refresh" title="Refresh P&L Analysis">
						<i class="fa fa-refresh"></i> Refresh
					</button>
					<button class="btn btn-sm btn-warning tootipster" data-bind="visible: rpt.showExport" onclick="el.exportExcel()">
						<i class="fa fa-download"></i> Export as Excel
					</button>
				</div>
			</div>
		</div>

		<div class="panel-body">
			<div class="filter" data-bind="visible: !el.contentIsLoading()">
				<div class="form-inline pull-right">
					<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
						<span class="input-group-addon align-right">Fiscal Year</span>
						<div class="width-full">
							<select type="text" style="width: 150px;" data-bind="kendoDropDownList: { data: rpt.optionFiscalYears, value: el.fiscalYear }"></select>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
						<span class="input-group-addon align-right">Breakdown By</span>
						<div class="width-full">
							<select type="text" style="width: 150px;" data-bind="kendoDropDownList: { data: el.optionDimensions, value: el.breakdownBy, dataValueField: 'field', dataTextField: 'name', placeholder: 'Select filter' }"></select>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5" >
						<span class="input-group-addon align-right">Filter By</span>
						<div class="width-full">
							<select type="text" style="width: 150px;" data-bind="kendoDropDownList: { data: el.optionDimensions, value: el.filterBy, dataValueField: 'field', dataTextField: 'name', placeholder: 'Select filter', select: el.selectfilter }"></select>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
						<span class="input-group-addon align-right">Filter Value</span>
						<div class="width-full">
							<select type="text" style="width: 150px;" data-bind="kendoMultiSelect: { data: el.optionBreakdownValues, value: el.filterValue, dataValueField: '_id', dataTextField: 'Name', placeholder: 'Select filter', select: el.selectfilter }"></select>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>

			<div data-bind="visible: el.contentIsLoading">
				{{template "_loader.html"}}
			</div>

			<div data-bind="visible: !el.contentIsLoading()">
				<div class="breakdown-view ez" id="el"></div>
			</div>
		</div>
	</div>
</div>




		</div>
	</div>
	</div>



	{{template "_filter.html"}}
</div>