<script src="/res/core/js/page-allocation-flow.js"></script>

<div>
	<div class="col-md-4 col-sm-4 ez panel-filter">
		<div class="panel ez no-padding hardcore">
			<div class="panel-heading">
				<h3 class="no-margin">Available Modules</h3>
				<div class="panel-nav-button">
					<div class="form-group relative align-right no-margin no-padding hardcore">
						<button class="btn btn-sm btn-danger">
							<i class="fa fa-trash"></i> Delete
						</button>
						<button class="btn btn-sm btn-primary">
							<i class="fa fa-plus"></i> Add
						</button>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<p>List available modules. Click to add it onto applied modules.</p>
				<div class="wrapper">
					empty
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="col-md-4 col-sm-4 ez panel-content">
		<div class="panel ez no-padding hardcore">
			<div class="panel-heading">
				<h3 class="no-margin">Applied Modules</h3>
				<div class="panel-nav-button">
					<div class="form-group relative align-right no-margin no-padding hardcore">
						<button class="btn btn-sm btn-primary">
							<i class="fa fa-play"></i> Run
						</button>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<p>List of modules to execute.</p>
				<div class="wrapper">
					empty
				</div>
			</div>
		</div>
	</div>
</div>

<div class="clearfix"></div>
