<div class="panel ez no-padding hardcore">
	<div class="panel-heading">
		<h3 class="no-margin">
			Analysis Ideas
		</h3>
	</div>
	<div class="panel-body">
		<p>Click which analysis you want to show.</p>

		<div class="list-analysis">
			<div class="col-md-3">
				<div class="wrapper">
					<a class="color-base listcolor-active" href="#" data-bind="attr: { 'href': '{{BaseUrl}}page/reportdynamic?p=sales-return-rate' }">
						<span class="fa fa-file-text-o"></span>
						&nbsp;&nbsp;
						Sales Return Rate
					</a>
				</div>
			</div>
		</div>
	</div>
</div>