<div class="panel ez no-padding hardcore">
	<div class="panel-heading">
		<h3 class="no-margin">&nbsp;</h3>
	</div>
	<div class="panel-body">
		<p>Click which analysis you want to show.</p>

		<div class="list-analysis">
			<div class="col-md-3">
				<div class="wrapper">
					<a class="color-base listcolor-active" href="#" data-bind="attr: { 'href': '{{BaseUrl}}page/reportdynamic?p=sales-return-rate' }">
						<span class="fa fa-file-text-o"></span>
						&nbsp;&nbsp;
						Sales Return Rate
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="wrapper">
					<a class="color-base listcolor-active" href="#" data-bind="attr: { 'href': '{{BaseUrl}}page/reportdynamic?p=sales-discount-by-gross-sales' }">
						<span class="fa fa-file-text-o"></span>
						&nbsp;&nbsp;
						Sales Discount by Gross Sales
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="wrapper">
					<a class="color-base listcolor-active" href="#" data-bind="attr: { 'href': '{{BaseUrl}}page/reportdynamic?p=gross-sales-by-qty' }">
						<span class="fa fa-file-text-o"></span>
						&nbsp;&nbsp;
						Gross Sales / Quantity
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="wrapper">
					<a class="color-base listcolor-active" href="#" data-bind="attr: { 'href': '{{BaseUrl}}page/reportdynamic?p=discount-by-qty' }">
						<span class="fa fa-file-text-o"></span>
						&nbsp;&nbsp;
						Discount / Quantity
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="wrapper">
					<a class="color-base listcolor-active" href="#" data-bind="attr: { 'href': '{{BaseUrl}}page/reportdynamic?p=net-price-by-qty' }">
						<span class="fa fa-file-text-o"></span>
						&nbsp;&nbsp;
						Net Price / Quantity
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="wrapper">
					<a class="color-base listcolor-active" href="#" data-bind="attr: { 'href': '{{BaseUrl}}page/reportdynamic?p=btl-by-qty' }">
						<span class="fa fa-file-text-o"></span>
						&nbsp;&nbsp;
						BTL / Quantity
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="wrapper">
					<a class="color-base listcolor-active" href="#" data-bind="attr: { 'href': '{{BaseUrl}}page/reportdynamic?p=freight-cost-by-sales' }">
						<span class="fa fa-file-text-o"></span>
						&nbsp;&nbsp;
						Freight Cost by Sales
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="wrapper">
					<a class="color-base listcolor-active" href="#" data-bind="attr: { 'href': '{{BaseUrl}}page/reportdynamic?p=direct-labour-index' }">
						<span class="fa fa-file-text-o"></span>
						&nbsp;&nbsp;
						Direct Labour Index
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="wrapper">
					<a class="color-base listcolor-active" href="#" data-bind="attr: { 'href': '{{BaseUrl}}page/reportdynamic?p=material-type-index' }">
						<span class="fa fa-file-text-o"></span>
						&nbsp;&nbsp;
						Material Type Index
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="wrapper">
					<a class="color-base listcolor-active" href="#" data-bind="attr: { 'href': '{{BaseUrl}}page/reportdynamic?p=indirect-expense-index' }">
						<span class="fa fa-file-text-o"></span>
						&nbsp;&nbsp;
						Indirect Expense Index
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="wrapper">
					<a class="color-base listcolor-active" href="#" data-bind="attr: { 'href': '{{BaseUrl}}page/reportdynamic?p=marketing-expense-index' }">
						<span class="fa fa-file-text-o"></span>
						&nbsp;&nbsp;
						Marketing Expense Index
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="wrapper">
					<a class="color-base listcolor-active" href="#" data-bind="attr: { 'href': '{{BaseUrl}}page/reportdynamic?p=sga-by-sales' }">
						<span class="fa fa-file-text-o"></span>
						&nbsp;&nbsp;
						SGA by Sales
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="wrapper">
					<a class="color-base listcolor-active" href="#" data-bind="attr: { 'href': '{{BaseUrl}}page/reportdynamic?p=cost-by-sales' }">
						<span class="fa fa-file-text-o"></span>
						&nbsp;&nbsp;
						Cost by Sales
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	
vm.currentMenu('Analysis Ideas')
vm.currentTitle('Analysis Ideas')
vm.breadcrumb([
	{ title: 'Godrej', href: viewModel.appName + 'page/landing' },
	{ title: 'Analysis Ideas', href: '#' },
])

</script>