<script src="/res/core/js/page-allocation-flow.js"></script>

<div>
	<div class="col-md-4 col-sm-4 ez panel-filter">
		<div class="panel ez no-padding hardcore">
			<div class="panel-heading">
				<h3 class="no-margin">Available Modules</h3>
				<div class="panel-nav-button">
					<div class="form-group relative align-right no-margin no-padding hardcore">
						<button class="btn btn-sm btn-danger tooltipster" title="Delete checked modules">
							<i class="fa fa-trash"></i> Delete
						</button>
						<button class="btn btn-sm btn-primary tooltipster" title="Add new module">
							<i class="fa fa-plus"></i> Add
						</button>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<p>List available modules. Click to add it onto applied modules.</p>
				<div class="wrapper bg-grey" style="min-height: 300px;">
					<ul class="list-group ez module available-module" data-bind="foreach: af.modules">
						<li class="list-group-item">
							<div class="wrapper">
								<span class="icon-drag">
									<i class="fa fa-arrows"></i>
								</span>
								<span class="text" data-bind="text: Name"></span>
							</div>
						</li>
					</ul>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="col-md-4 col-sm-4 ez panel-content">
		<div class="panel ez no-padding hardcore">
			<div class="panel-heading">
				<h3 class="no-margin">Applied Modules</h3>
				<div class="panel-nav-button">
					<div class="form-group relative align-right no-margin no-padding hardcore">
						<button class="btn btn-sm btn-primary tooltipster" title="Run current">
							<i class="fa fa-play"></i> Run
						</button>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<p>List of modules to execute.</p>
				<div class="wrapper bg-grey" style="min-height: 300px;">
					<ul class="list-group ez module applied-module" data-bind="foreach: af.modules">
						<li class="list-group-item">
							<div class="wrapper">
								<span class="icon-drag">
									<i class="fa fa-arrows"></i>
								</span>
								<span class="text" data-bind="text: Name"></span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-module" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width: 700px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
        			<span data-bind="text: af.isNew() ? 'Upload new' : 'Edit'"></span> module
        		</h4>
            </div>
            <div class="modal-body">

				<form class="wrapper form-upload-file" novalidate data-bind="with: af.moduleConfig">
					<div class="form-group">
						<div class="input-group input-group-sm ez width-full">
							<span class="input-group-addon align-right width-100">Name</span>
							<input type="text" class="form-control input-sm width-full" required data-required-msg="Name cannot be empty" data-bind="value: Name" />
						</div>
						<span class="k-invalid-msg" data-for="model"></span>
					</div>
					<div class="form-group">
						<div class="input-group input-group-sm ez width-full">
							<span class="input-group-addon align-right width-100">Description</span>
							<input type="text" class="form-control input-sm width-full" required data-required-msg="Description cannot be empty" data-bind="value: Description" />
						</div>
						<span class="k-invalid-msg" data-for="model"></span>
					</div>

					<div class="form-group">
						<div class="input-group input-group-sm ez width-full">
							<span class="input-group-addon align-right width-100">Archive</span>
							<input type="file" name="file" class="form-control" required data-required-msg="Archive cannot be empty" placeholder="Select file" accept=".zip" />
						</div>
						<span class="k-invalid-msg" data-for="file"></span>
					</div>
				</form>

                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
		        	Cancel
		        </button>
                <button class="btn btn-sm btn-primary" data-bind="click: af.doUpload">
					<i class="fa fa-upload"></i> Submit
				</button>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
