<script src="/res/core/js/page-widget-chart.js"></script>
<script src="/res/core/js/page-report-chart-comparison.js"></script>

<div class="col-md-9 col-sm-9 ez panel-content">
	<div class="panel ez no-padding hardcore">
		<div class="panel-heading">
			<h3 class="no-margin">
				Chart Comparison
				<div class="panel-nav-button">
					<div class="form-group relative align-right no-margin no-padding hardcore">
						<button class="btn btn-sm btn-primary" data-bind="click: rpt.refresh">
							<i class="fa fa-refresh"></i> Refresh
						</button>
					</div>
				</div>
			</h3>
		</div>

		<div class="panel-body">
			<div class="pull-right margin-bottom-20">
				<div class="form-inline">
					<div class="input-group input-group-sm ez">
						<span class="input-group-addon width-100 align-right">Breakdown</span>
						<div class="width-full">
							<select type="text" style="width: 150px;" data-bind="kendoDropDownList: { data: [], optionLabel: 'Select one' }"></select>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="input-group input-group-sm ez">
						<span class="input-group-addon width-100 align-right">Activity Ideas</span>
						<div class="width-full">
							<select style="width: 400px;" data-bind="kendoMultiSelect: { data: cc.ideas, value: cc.selectedIdeas, dataValueField: '_id', dataTextField: 'name', placeholder: 'Choose ideas' }"></select>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>

			<div class="chart-container">
				<div class="col-md-12 col-sm-12 no-padding hardcore">
					<div class="chart-1" style="height: 300px;"></div>
				</div>
			</div>
		</div>
	</div>
</div>