<div class="col-md-12 no-padding hardcore">
	<div class="col-md-12 col-sm-12 no-padding hardcore panel-content-expandable">
		{{template "page-widget-pivot.html"}}
	</div>
</div>

<script>
	$(() => {
		pvt.row('customer.channelname')
		pvt.column('customer.branchname')
		pvt.dataPoints = ko.observableArray([
			{ field: 'grosssales', title: 'Gross Sales' },
			{ field: 'salesdiscount', title: 'Sales Discount' },
			{ field: 'netsales', title: 'Net Sales' }
		])
		
		pvt.data([{
			customer_channelname: 'GT', customer_branchname: 'Surabaya',
			grosssales: 20000,
			salesdiscount: 2000,
			netsales: 18000
		}, {
			customer_channelname: 'MT', customer_branchname: 'Surabaya',
			grosssales: 22000,
			salesdiscount: 1000,
			netsales: 21000
		}, {
			customer_channelname: 'GT', customer_branchname: 'Malang',
			grosssales: 23000,
			salesdiscount: 3000,
			netsales: 20000
		}, {
			customer_channelname: 'GT', customer_branchname: 'Malang',
			grosssales: 22000,
			salesdiscount: 2000,
			netsales: 20000
		}])

		pvt.refresh()
	})
</script>