<div class="col-md-12 no-padding hardcore">
	<div class="col-md-12 col-sm-12 no-padding hardcore panel-content-expandable">
		{{template "page-widget-chart.html"}}
	</div>
	<div class="col-md-12 col-sm-12 no-padding hardcore panel-content-expandable">
		{{template "page-widget-pivot.html"}}
	</div>
</div>

<script>
	$(() => {
		pvt.row('customer.channelname')
		pvt.column('customer.branchname')
		pvt.dataPoints = ko.observableArray([
			{ field: 'sales_return', title: 'Sales Return', name: 'Sales Return' },
			{ field: 'sales_revenue', title: 'Sales Revenue', name: 'Sales Revenue' },
			{ field: 'sales_return_rate', title: 'Sales Return Rate', name: 'Sales Return Rate' }
		])
		pvt.refresh()

		crt.categoryAxisField('customer.branchname')
		crt.sortField(sales_return_rate)
		crt.series(pvt.dataPoints())
		crt.refresh()
	})
</script>