<div class="col-md-12 no-padding hardcore">
	<div class="col-md-12 col-sm-12 no-padding hardcore panel-content-expandable">
		{{template "page-widget-chart.html"}}
	</div>
	<div class="col-md-12 col-sm-12 no-padding hardcore panel-content-expandable">
		{{template "page-widget-pivot.html"}}
	</div>
</div>

<script>
	$(() => {
		pvt.row('customer.channelname')
		pvt.column('customer.branchname')
		pvt.dataPoints = ko.observableArray([
			{ field: 'grosssales', title: 'Gross Invoice', name: 'Gross Invoice' },
			{ field: 'qty', title: 'Qty', name: 'Qty' },
			{ field: 'grossinvoicebyqty', title: 'Gross Invoice / Qty', name: 'Gross Invoice / Qty' }
		])
		
		pvt.data([{
			customer_channelname: 'GT', customer_branchname: 'Surabaya',
			grosssales: 20000,
			qty: 2000,
			grossinvoicebyqty: 10
		}, {
			customer_channelname: 'MT', customer_branchname: 'Surabaya',
			grosssales: 22000,
			qty: 1000,
			grossinvoicebyqty: 22
		}, {
			customer_channelname: 'GT', customer_branchname: 'Malang',
			grosssales: 23000,
			qty: 3000,
			grossinvoicebyqty: 23
		}, {
			customer_channelname: 'GT', customer_branchname: 'Malang',
			grosssales: 22000,
			qty: 2000,
			grossinvoicebyqty: 11
		}])
		crt.data(pvt.data())
		crt.series(pvt.dataPoints())
		pvt.refresh()
		crt.refresh()
	})
</script>