<script src="/res/core/js/page-widget-chart-comparison.js"></script>

<div class="panel ez no-padding hardcore">
	<div class="panel-heading">
		<h3 class="no-margin" data-bind="text: ccr.title"></h3>
		<div class="panel-nav-button" data-bind="visible: !ccr.contentIsLoading()">
			<div class="form-inline">
				<button class="btn btn-sm btn-primary tooltipster" data-bind="click: ccr.refresh" title="Refresh">
					<i class="fa fa-refresh"></i>
				</button>
				<button class="btn btn-sm btn-info tooltipster" data-bind="click: rpt.toggleFilter" title="Toggle Advanced Filter">
					<i class="fa fa-filter"></i>
				</button>
			</div>
		</div>
	</div>

	<div class="panel-body">
		<div data-bind="visible: ccr.contentIsLoading">
			{{template "_loader.html"}}
		</div>

		<div data-bind="visible: !ccr.contentIsLoading()">
			<div class="chart"></div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-detail-ledger-summary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 700px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                	<span aria-hidden="true">&times;</span>
            	</button>
                <h4 class="modal-title">
        			Detail
        		</h4>
            </div>
            <div class="modal-body">
                <div class="grid-detail"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
		        	Close
		        </button>
            </div>
        </div>
    </div>
</div>
