<script src="/res/core/js/page-databrowser.js"></script>

<link href="/res/databrowser/ecdatabrowser.css" rel="stylesheet">
<link href="/res/databrowser/eclookup.css" rel="stylesheet">
<script src="/res/databrowser/eclookup.js"></script>
<script src="/res/databrowser/ecdatabrowser.js"></script>

<div class="col-md-12">
	<div class="panel ez">
		<div class="panel-heading">
			<h3 class="no-margin">Grid</h3>
			<div class="pull-right filter-toggle">
				<label>Show Filter</label>
				<div class="material-switch">
					<input id="filter-toggle-panel-3" type="checkbox" />
					<label for="filter-toggle-panel-3" class="label-success"></label>
					<div class="clearfix"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="panel-body">
			<div class="panel-filter">
				<div class="col-md-3">
					<div class="input-group input-group-sm ez">
						<span class="input-group-addon">Table Name</span>
						<select data-bind="kendoDropDownList: { data: db.masterDataBrowser, dataTextField: 'TableNames', dataValueField: '_id', optionLabel: 'Click to select one ...', select: db.selectTableName }" style="width: 100%"></select>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div id="grid-databrowser-decription"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

<div class="clearfix"></div>
