<div>
	<div class="col-md-12 col-sm-12 ez panel-content">

<script src="{{BaseUrl}}res/core/js/page-report.js"></script>
<script src="{{BaseUrl}}res/core/js/page-report-customanalysis.js"></script>

<div class="panel ez no-padding hardcore">
	<div class="panel-heading">
		<h3 class="no-margin">Grid</h3>
		<div class="panel-nav-button" data-bind="visible: !cst.contentIsLoading()">
			<div class="form-inline">
				<!-- <button class="btn btn-sm btn-success tooltipster" data-bind="click: cst.saveConfigLocal" title="Save config">
					<i class="fa fa-floppy-o"></i> Save Config
				</button> -->
				<button class="btn btn-sm btn-success tooltipster" onclick="cst.configName(''); $('#modal-load-config').modal('show');" title="Load config">
					<i class="fa fa-gear"></i> Configuration
				</button>

				<button class="btn btn-sm btn-primary tooltipster" data-bind="click: cst.refresh" title="Refresh">
					<i class="fa fa-refresh"></i> Refresh
				</button>
				<button class="btn btn-sm btn-warning tootipster" data-bind="visible: rpt.showExport" onclick="rpt.export('#custom-analysis', 'Custom Analysis', 'header-content')">
					<i class="fa fa-download"></i> Export as Excel
				</button>
				<button class="btn btn-sm btn-info tooltipster" data-bind="click: rpt.toggleFilter" title="Toggle Advanced Filter">
					<i class="fa fa-server"></i> Show Filter
				</button>
			</div>
		</div>
	</div>

	<div class="panel-body">
		<div class="filter" data-bind="visible: !cst.contentIsLoading()">
			<div class="form-inline pull-right">
				<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
					<span class="input-group-addon align-right">Fiscal Years</span>
					<div class="width-full">
						<select type="text" style="width: 200px;" data-bind="kendoMultiSelect: { data: rpt.optionFiscalYears, value: cst.fiscalYears }"></select>
					</div>
					<div class="clearfix"></div>
				</div>

				<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
					<span class="input-group-addon align-right">Breakdowns</span>
					<div class="width-full">
						<select type="text" style="width: 200px;" data-bind="kendoMultiSelect: { data: cst.optionDimensionBreakdown, dataValueField: 'field', dataTextField: 'name', value: cst.breakdown, filter: 'contains', change: cst.changeBreakdown }"></select>
					</div>
					<div class="clearfix"></div>
				</div>

				<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
					<span class="input-group-addon align-right">Sort</span>
					<div class="width-full">
						<select type="text" style="width: 150px;" data-bind="kendoDropDownList: { data: cst.optionSortOrders, dataValueField: 'field', dataTextField: 'name', value: cst.sortOrder, enabled: cst.isDimensionNotContainDate }"></select>
					</div>
					<div class="clearfix"></div>
				</div>

				<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
					<span class="input-group-addon align-right">Show total of</span>
					<div class="width-full">
						<select type="text" style="width: 150px;" data-bind="kendoDropDownList: { data: cst.optionDimensionBreakdownForTotal, dataValueField: 'field', dataTextField: 'name', value: cst.putTotalOf, enabled: cst.isDimensionNotContainChannel, optionLabel: 'None' }"></select>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>

			<div class="form-inline pull-right">
				<!-- <div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
					<span class="input-group-addon align-right">Set P&L as</span>
					<div class="width-full">
						<select type="text" style="width: 150px;" data-bind="kendoDropDownList: { data: cst.optionRowColumn, dataValueField: '_id', dataTextField: 'Name', value: cst.rowColumn }"></select>
					</div>
					<div class="clearfix"></div>
				</div> -->
				<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
					<span class="input-group-addon align-right">Choose P&L</span>
					<div class="width-full">
						<select type="text" style="width: 500px; height: 60px;" data-bind="kendoMultiSelect: { data: cst.optionDimensionPNL, dataValueField: 'field', dataTextField: 'name', value: cst.dimensionPNL, change: cst.changeDimensionPNL }"></select>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div data-bind="visible: cst.contentIsLoading">
			{{template "_loader.html"}}
		</div>

		<div data-bind="visible: !cst.contentIsLoading()">
			<div class="pivot-ez ez" id="custom-analysis"></div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>








<div class="panel ez no-padding hardcore">
	<div class="panel-heading">
		<h3 class="no-margin">Chart</h3>

		<!-- Nav tabs -->
		<ul class="nav nav-pills nav-custom-analysis" role="tablist" data-bind="visible: !cst.contentIsLoading()">
			<li role="presentation" class="active">
				<a href="#view" role="tab" data-toggle="tab">Show Chart View</a>
			</li>
			<li role="presentation">
				<a href="#config" role="tab" data-toggle="tab">Show Chart configuration</a>
			</li>
		</ul>

		<div class="panel-nav-button" data-bind="visible: !cst.contentIsLoading()">
			<div class="form-inline">
				<button class="btn btn-sm btn-primary tooltipster" data-bind="click: cst.refresh" title="Refresh">
					<i class="fa fa-refresh"></i> Refresh
				</button>
			</div>
		</div>
	</div>

	<div class="panel-body">
		<!-- Tab panes -->
		<div class="tab-content" data-bind="visible: !cst.contentIsLoading()">
			<div role="tabpanel" class="tab-pane" id="config" style="min-height: 425px;">
				<div class="filter" data-bind="visible: !cst.contentIsLoading()">
					<p>General Configuration</p>

					<div class="form-inline">
						<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
							<span class="input-group-addon align-right">Breakdown by</span>
							<div class="width-full">
								<select type="text" style="width: 200px;" data-bind="kendoDropDownList: { data: cst.optionDimensionBreakdownForChart, dataValueField: 'field', dataTextField: 'name', value: cst.category, filter: 'contains' }"></select>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
							<span class="input-group-addon align-right">Unit</span>
							<div class="width-full">
								<select type="text" style="width: 200px;" data-bind="kendoDropDownList: { data: cst.optionUnit, dataValueField: 'field', dataTextField: 'name', value: cst.unit }"></select>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>

					<p>Series Configuration</p>

					<div data-bind="foreach: cst.series">
						<div class="form-inline">
							<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
								<span class="input-group-addon align-left" style="min-width: 200px;">
									Series <b data-bind="html: $data.name"></b>
								</span>
								<div class="clearfix"></div>
							</div>
							<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
								<span class="input-group-addon align-right">
									Visible
								</span>
								<div class="width-full">
									<input type="checkbox" class="form-control" data-bind="checked: $data.visible" />
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
								<span class="input-group-addon align-right">
									Type
								</span>
								<div class="width-full">
									<select type="text" style="width: 200px;" data-bind="kendoDropDownList: { data: cst.seriesTypes, value: $data.type }"></select>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane active" id="view">
				<div class="wrapper" style="overflow: auto; overflow-x: scroll; padding-bottom: 10px;">
					<div id="custom-chart"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>

		<div data-bind="visible: cst.contentIsLoading">
			{{template "_loader.html"}}
		</div>
	</div>
</div>







	</div>

	{{template "_filter.html"}}
</div>




<div class="modal fade" id="modal-load-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 420px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                	<span aria-hidden="true">&times;</span>
            	</button>
                <h4 class="modal-title">
        			Configuration
        		</h4>
            </div>
            
            <div class="modal-body">

				<div class="filter" data-bind="visible: !cst.contentIsLoading()">
					<p>Save current config</p>
					<div class="form-inline">
						<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5" style="width: 200px;">
							<span class="input-group-addon align-right">Config Name</span>
							<div class="width-full">
								<input class="input-sm ez" type="text" style="width: 150px; border: 1px solid #f0f3f4;" placeholder="Type config name here" data-bind="value: cst.configName" />
							</div>
							<div class="clearfix"></div>
						</div>

						<button class="btn btn-sm btn-success tooltipster" data-bind="click: function () { cst.saveConfigLocal(); $('#modal-load-config').modal('hide'); }" title="Save config" style="width: 100px;">
							<i class="fa fa-save"></i> Save Config
						</button>
					</div>

					<div class="clearfix"></div>

					<p>Or, load previous saved config</p>

					<div class="form-inline">
						<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5" style="width: 200px;">
							<span class="input-group-addon align-right">Saved Config</span>
							<div class="width-full">
								<select type="text" style="width: 150px;" data-bind="kendoDropDownList: { data: cst.dataconfig, dataValueField: 'title', dataTextField: 'title', optionLabel: 'Choose Config..', value: cst.selectconfig }"></select>
							</div>
							<div class="clearfix"></div>
						</div>

						<button class="btn btn-sm btn-success tooltipster" data-bind="click: function () { cst.getConfigLocal(); $('#modal-load-config').modal('hide'); }" title="Load config" style="width: 100px;">
							<i class="fa fa-share"></i> Load Config
						</button>
					</div>
				</div>
				<div class="clearfix"></div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
		        	Close
		        </button>
            </div>
        </div>
    </div>
</div>