<div class="col-md-12 no-padding hardcore">
	<div class="col-md-12 col-sm-12 no-padding hardcore panel-content-expandable">
		{{template "page-widget-chart.html"}}
	</div>
	<div class="col-md-12 col-sm-12 no-padding hardcore panel-content-expandable">
		{{template "page-widget-pivot.html"}}
	</div>
</div>

<script>
	$(() => {
		pvt.row('customer.channelname')
		pvt.column('customer.branchname')
		pvt.dataPoints = ko.observableArray([
			{ field: 'cost', title: 'Cost', name: 'Cost' },
			{ field: 'sales', title: 'Sales', name: 'Sales' },
			{ field: 'costbyqty', title: 'Cost by Sales', name: 'Cost by Sales' }
		])
		
		pvt.data([{
			customer_channelname: 'GT', customer_branchname: 'Surabaya',
			cost: 20000,
			sales: 2000,
			costbyqty: 10
		}, {
			customer_channelname: 'MT', customer_branchname: 'Surabaya',
			cost: 22000,
			sales: 1000,
			costbyqty: 22
		}, {
			customer_channelname: 'GT', customer_branchname: 'Malang',
			cost: 23000,
			sales: 3000,
			costbyqty: 23
		}, {
			customer_channelname: 'GT', customer_branchname: 'Malang',
			cost: 22000,
			sales: 2000,
			costbyqty: 11
		}])
		crt.data(pvt.data())
		crt.series(pvt.dataPoints())
		pvt.refresh()
		crt.refresh()
	})
</script>