@font-face {
  src: url("../../fonts/SourceSansPro-Regular.otf");
  src: url("../../fonts/SourceSansPro-Italic.otf");
  font-weight: normal;
  font-style: italic;
  src: url("../../fonts/SourceSansPro-Bold.otf");
  font-weight: bold;
  font-family: 'Source Sans Pro';
  src: url("../../fonts/SourceSansPro-Light.otf");
  font-weight: 100;
  font-style: normal;
}
