<div>
	<div class="col-md-12 col-sm-12 ez panel-content">

<script src="{{BaseUrl}}res/core/js/page-report.js"></script>
<script src="{{BaseUrl}}res/core/js/page-report-dashboard.js"></script>

<div>

	<!-- Nav tabs -->
	<ul class="nav nav-pills nav-replace-title" role="tablist">
		<li role="presentation" class="active">
			<a href="#tab1" role="tab" data-toggle="tab">Dashboard</a>
		</li>
		<li role="presentation">
			<a href="#tab2" role="tab" data-toggle="tab">Ranking</a>
		</li>
		<li role="presentation">
			<a href="#tab3" role="tab" data-toggle="tab">Channel Distribution</a>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="tab1">
<div class="panel ez no-padding hardcore">
	<div class="panel-heading">
		<h3 class="no-margin">Dashboard</h3>
		<div class="panel-nav-button" data-bind="visible: !dsbrd.contentIsLoading()">
			<div class="form-inline">
				<button class="btn btn-sm btn-primary tooltipster" data-bind="click: dsbrd.refresh" title="Refresh P&L Analysis">
					<i class="fa fa-refresh"></i> Refresh
				</button>
				<button class="btn btn-sm btn-info tooltipster" data-bind="click: rpt.toggleFilter" title="Toggle Advanced Filter">
					<i class="fa fa-server"></i> Show Filter
				</button>
			</div>
		</div>
	</div>

	<div class="panel-body">
		<div data-bind="visible: dsbrd.contentIsLoading">
			{{template "_loader.html"}}
		</div>

		<div class="filter" data-bind="visible: !dsbrd.contentIsLoading()">
			<div class="form-inline pull-right breakdown-filter">
				<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
					<span class="input-group-addon align-right">Structure</span>
						<div class="width-full">
							<select type="text" style="width: 150px;" data-bind="kendoDropDownList: { data: dsbrd.optionStructures, dataValueField: 'field', dataTextField: 'name', value: dsbrd.structure }"></select>
						</div>
				</div>

				<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
					<span class="input-group-addon align-right">Fiscal Year</span>
					<div class="width-full">
						<select type="text" style="width: 150px;" data-bind="kendoMultiSelect: { data: rpt.optionFiscalYears, value: dsbrd.fiscalYears }"></select>
					</div>
				</div>

				<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
					<span class="input-group-addon align-right">Breakdown by</span>
					<div class="width-full">
						<select type="text" style="width: 150px;" data-bind="kendoDropDownList: { data: rpt.optionDimensions, dataValueField: 'field', dataTextField: 'name', value: dsbrd.breakdown, select: dsbrd.changeBreakdown, filter: 'contains' }"></select>
					</div>
					<div class="clearfix"></div>
				</div>

				<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
					<span class="input-group-addon align-right">Breakdown Value</span>
					<div class="width-full">
						<select type="text" style="width: 200px;" data-bind="kendoMultiSelect: { data: dsbrd.optionBreakdownValues, dataValueField: '_id', dataTextField: 'Name', value: dsbrd.breakdownValue, placeholder: 'Choose value', change: dsbrd.changeBreakdownValue }"></select>
					</div>
					<div class="clearfix"></div>
				</div>

			</div>
			<div class="clearfix"></div>
		</div>

		<div data-bind="visible: !dsbrd.contentIsLoading()">
			<div class="grid-dashboard"></div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="tab2">
<div class="panel ez no-padding hardcore">
	<div class="panel-heading">
		<h3 class="no-margin">Ranking</h3>
		<div class="panel-nav-button" data-bind="visible: !rank.contentIsLoading()">
			<div class="form-inline">
				<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
					<span class="input-group-addon width-100 align-right">Fiscal Year</span>
					<div class="width-full">
						<select type="text" style="width: 150px;" data-bind="kendoDropDownList: { data: rpt.optionFiscalYears, value: rank.fiscalYear }"></select>
					</div>
				</div>

				<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
					<span class="input-group-addon width-100 align-right">Breakdown by</span>
					<div class="width-full">
						<select type="text" style="width: 150px;" data-bind="kendoDropDownList: { data: rank.optionDimensions, dataValueField: 'field', dataTextField: 'name', value: rank.breakdown, filter: 'contains' }"></select>
					</div>
				</div>

				<button class="btn btn-sm btn-primary tooltipster" data-bind="click: rank.refresh" title="Refresh P&L Analysis">
					<i class="fa fa-refresh"></i> Refresh
				</button>
				<button class="btn btn-sm btn-info tooltipster" data-bind="click: rpt.toggleFilter" title="Toggle Advanced Filter">
					<i class="fa fa-server"></i> Show Filter
				</button>
			</div>
		</div>
	</div>

	<div class="panel-body">
		<div data-bind="visible: rank.contentIsLoading">
			{{template "_loader.html"}}
		</div>

		<div data-bind="visible: !rank.contentIsLoading()">
			<div class="grid-ranking"></div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="tab3">
<div class="panel ez no-padding hardcore">
	<div class="panel-heading">
		<h3 class="no-margin">Channel Distribution</h3>
		<div class="panel-nav-button" data-bind="visible: !sd.contentIsLoading()">
			<div class="form-inline">
				<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
					<span class="input-group-addon width-100 align-right">Fiscal Year</span>
					<div class="width-full">
						<select type="text" style="width: 150px;" data-bind="kendoDropDownList: { data: rpt.optionFiscalYears, value: sd.fiscalYear }"></select>
					</div>
				</div>

				<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
					<span class="input-group-addon width-100 align-right">Select P&L</span>
					<div class="width-full">
						<select type="text" style="width: 200px;" data-bind="kendoDropDownList: { data: rpt.plmodels, dataValueField: '_id', dataTextField: 'PLHeader3', value: sd.selectedPL, filter: 'contains' }"></select>
					</div>
				</div>

				<button class="btn btn-sm btn-primary tooltipster" data-bind="click: sd.refresh" title="Refresh P&L Analysis">
					<i class="fa fa-refresh"></i> Refresh
				</button>
				<button class="btn btn-sm btn-info tooltipster" data-bind="click: rpt.toggleFilter" title="Toggle Advanced Filter">
					<i class="fa fa-server"></i> Show Filter
				</button>
				<button class="btn btn-sm btn-info tootipster" data-bind="visible: rpt.showExport" onclick="rpt.export('.grid-sales-dist', 'Channel Distribution', 'normal')">
					<i class="fa fa-download"></i> Export as Excel
				</button>
			</div>
		</div>
	</div>

	<div class="panel-body">
		<div data-bind="visible: sd.contentIsLoading">
			{{template "_loader.html"}}
		</div>

		<div data-bind="visible: !sd.contentIsLoading()">
			<div class="grid-sales-dist"></div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
		</div>
	</div>
</div>

	</div>

	{{template "_filter.html"}}
</div>