<div class="col-md-12 no-padding hardcore">
	<div class="col-md-12 col-sm-12 no-padding hardcore panel-content-expandable">
		{{template "page-widget-chart.html"}}
	</div>
	<div class="col-md-12 col-sm-12 no-padding hardcore panel-content-expandable">
		{{template "page-widget-pivot.html"}}
	</div>
</div>



<script>
	$(document).ready(function(){
		pvt.row('customer.channelname')
		pvt.column('customer.branchname')
		pvt.dataPoints = ko.observableArray([
			{ field: 'freight_cost', title: 'Freight Cost', name: 'Freight Cost' },
			{ field: 'net_sales', title: 'Net Sales', name: 'Net Sales' },
			{ field: 'freight_cost_by_sales', title: 'Freight Cost by Sales', name: 'Freight Cost by Sales' }
		])
		pvt.refresh()

		crt.categoryAxisField('customer.branchname')
		crt.series(pvt.dataPoints())
		crt.refresh()
	})
</script>
