<div class="col-md-12 no-padding hardcore">
	<div class="col-md-12 col-sm-12 no-padding hardcore panel-content-expandable">
		{{template "page-widget-chart.html"}}
	</div>
	<div class="col-md-12 col-sm-12 no-padding hardcore panel-content-expandable">
		{{template "page-widget-pivot.html"}}
	</div>
</div>

<script>
	$(document).ready(function(){
		pvt.row('customer.channelname')
		pvt.column('customer.branchname')
		pvt.dataPoints = ko.observableArray([
			{ field: 'advertising', stack: "advertising", title: 'Advertising Expenses', name: 'Advertising Expenses' },
			{ field: 'bonus', stack: "advertising", title: 'Bonus', name: 'Bonus' },
			{ field: 'gondola', stack: "advertising", title: 'Gondola / Mailer / Motoris', name: 'Gondola / Mailer / Motoris' },
			{ field: 'otheradvertising', stack: "advertising", title: 'Other', name: 'Other' },
			{ field: 'sales', stack: "sales", title: 'COGS', name: 'COGS' },
			{ field: 'sales_outlet', stack: "sales_outlet", title: 'Material Expense Index', name: 'Material Expense Index' }
		])
		pvt.refresh()

		crt.typeChart('stack')
		crt.categoryAxisField('customer.branchname')
		crt.sortField('sales_outlet')
		crt.series(pvt.dataPoints())
		crt.refresh()
	})
</script>