<div class="col-md-12 no-padding hardcore">
	<div class="col-md-12 col-sm-12 no-padding hardcore panel-content-expandable">
		{{template "page-widget-chart.html"}}
	</div>
	<div class="col-md-12 col-sm-12 no-padding hardcore panel-content-expandable">
		{{template "page-widget-pivot.html"}}
	</div>
</div>

<script>
	$(document).ready(function(){
		pvt.row('customer.channelname')
		pvt.column('customer.branchname')
		pvt.dataPoints = ko.observableArray([
			{ field: 'sales_discount', title: 'Discount', name: 'Discount' },
			{ field: 'qty', title: 'Qty', name: 'Qty' },
			{ field: 'discount_qty', title: 'Discount / Qty', name: 'Discount / Qty' }
		])
		pvt.refresh()

		crt.categoryAxisField('customer.branchname')
		crt.sortField('discount_qty')
		crt.series(pvt.dataPoints())
		crt.refresh()
	})
</script>