<div class="col-md-3 col-sm-3 ez panel-filter" style="display: none;">
	<div class="panel-yo"></div>
	<div class="panel ez no-padding hardcore panel-fix">
		<div class="panel-heading">
			<h3 class="no-margin">Filter</h3>
			<div class="panel-nav-button">
				<div class="form-group relative align-right no-margin no-padding hardcore" data-bind="visible: true">
					<button class="btn btn-sm btn-primary tooltipster" data-bind="click: rpt.refreshAll" title="Refresh All">
						<i class="fa fa-refresh"></i> Refresh All
					</button>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div id="from-filter">
				<p>Click each section below to show respective filter.</p>
				<div class="wrapper">
					<div class="panel-group ez-collapse" role="tablist" aria-multiselectable="true" data-bind="template: { name: 'template-report-filter', foreach: rpt.filter }"></div>
				</div>
			</div>

			<div class="clearfix"></div>
		</div>
	</div>
</div>