<link href="{{BaseUrl}}res/databrowser/ecdatabrowser.css" rel="stylesheet">
<link href="{{BaseUrl}}res/databrowser/eclookup.css" rel="stylesheet">
<script src="{{BaseUrl}}res/databrowser/eclookup.js"></script>
<script src="{{BaseUrl}}res/databrowser/ecdatabrowser.js"></script>

<script src="{{BaseUrl}}res/core/js/page-databrowser.js"></script>

<div>
	<div class="col-md-4 col-sm-4 ez panel-filter">
		<div class="panel ez no-padding hardcore">
			<div class="panel-heading">
				<h3 class="no-margin">Filter</h3>
				<div class="panel-nav-button">
					<div class="form-group relative align-right no-margin no-padding hardcore">
						<button class="btn btn-sm btn-primary tooltipster" title="Refresh" data-bind="click: db.refreshDataBrowser">
							<i class="fa fa-refresh"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div id="from-filter">
					<p>Select table you want to show the data.</p>
					<div class="form-group form-group-table-name">
						<div class="input-group input-group-sm ez width-full">
							<span class="input-group-addon width-100 align-right">Table Name</span>
							<select data-bind="kendoDropDownList: { data: db.masterDataBrowser, dataTextField: 'TableNames', dataValueField: '_id', optionLabel: 'Click to select one ...', value: db.selectedTableID, filter: 'contains' }" style="width: 100%"></select>
						</div>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="col-md-8 col-sm-8 ez panel-content">
		<div class="panel ez no-padding hardcore">
			<div class="panel-heading">
				<h3 class="no-margin">
					<button class="btn-toggle-filter no-padding"></button>
					Data
				</h3>
				<div class="panel-nav-button" data-bind="visible: db.selectedTableID() != ''">
					<button class="btn btn-primary btn-sm tooltipster" title="Add new data" data-bind="click: db.newData">
						<i class="fa fa-plus"></i>
					</button>
					<button class="btn btn-sm btn-primary tooltipster" title="Refresh" data-bind="click: db.refreshDataBrowser">
						<i class="fa fa-refresh"></i>
					</button>
				</div>
			</div>
			<div class="panel-body">
				<div data-bind="visible: db.isLoading">
					{{template "_loader.html"}}
				</div>
				<div data-bind="visible: !db.isLoading()">
					<p data-bind="visible: db.selectedTableID() != ''">
						Data on table <span class="tag bg-orange" data-bind="text: db.selectedTableName"></span>.
					</p>
					<div id="grid-databrowser-decription"></div>
					<div class="no-grid" data-bind="visible: app.is(db.selectedTableID, '')">No data to be shown. Select table name on the filter side first.</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 700px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
        			<span data-bind="text: db.isNew() ? 'Create new' : 'Edit'"></span> data <span data-bind="text: app.capitalize(db.tableName())"></span>
        		</h4>
            </div>
            <div class="modal-body">
                <form class="wrapper form-upload-file" novalidate data-bind="template:{name:'template-edit-data-browser', foreach:db.metaData()}">
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
		        	Cancel
		        </button>
                <button class="btn btn-sm btn-primary" data-bind="click: db.saveChanges">
					<i class="fa fa-save"></i> Save
				</button>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
