<div>
	<div class="col-md-12 col-sm-12 ez panel-content">

<style>
	.grid th {
		border-color: white;
	}
	.grid th[data-title="Total"] {
		border-right: 1px solid white;
	}
	.align-center {
		text-align: center !important;
	}
	.grid th.color-0 {
		background-color: #3498DB;
		color: white;
	}
	.grid th.color-1 {
		background-color: #28B463;
		color: white;
	}
</style>

<script src="{{BaseUrl}}res/core/js/page-report.js"></script>
<script src="{{BaseUrl}}res/core/js/page-report-sales-return.js"></script>

	<!-- Nav tabs -->
	<ul class="nav nav-pills nav-replace-title" role="tablist">
		<li role="presentation" class="active">
			<a href="#pnl" role="tab" data-toggle="tab" onclick="sr.changeTo('customer.channelname', 'Sales Return by Channels')">Channels</a>
		</li>
		<li role="presentation">
			<a href="#pnl" role="tab" data-toggle="tab" onclick="sr.changeTo('customer.branchname', 'Sales Return by Branches')">Branches</a>
		</li>
		<li role="presentation">
			<a href="#pnl" role="tab" data-toggle="tab" onclick="sr.changeTo('product.brand', 'Sales Return by Brands')">Brands</a>
		</li>
		<li role="presentation">
			<a href="#pnl" role="tab" data-toggle="tab" onclick="sr.changeTo('customer.areaname', 'Sales Return by City')">City</a>
		</li>
		<li role="presentation">
			<a href="#pnl" role="tab" data-toggle="tab" onclick="sr.changeTo('customer.region', 'Sales Return by Region')">Region</a>
		</li>
		<li role="presentation">
			<a href="#pnl" role="tab" data-toggle="tab" onclick="sr.changeTo('customer.zone', 'Sales Return by Zone')">Zone</a>
		</li>
	</ul>


<div class="panel ez no-padding hardcore">
	<div class="panel-heading">
		<h3 class="no-margin" data-bind="html: sr.title">Sales Return by Channels</h3>
		<div class="panel-nav-button" data-bind="visible: !sr.contentIsLoading()">
			<div class="form-inline">
				<button class="btn btn-sm btn-primary tooltipster" data-bind="click: sr.refresh" title="Refresh">
					<i class="fa fa-refresh"></i> Refresh
				</button>
				<button class="btn btn-sm btn-info tooltipster" data-bind="click: rpt.toggleFilter" title="Toggle Advanced Filter">
					<i class="fa fa-server"></i> Show Filter
				</button>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="panel-body">
		<div class="filter" data-bind="visible: !sr.contentIsLoading()">
			<div class="form-inline pull-right">
				<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
					<span class="input-group-addon align-right">Fiscal Year</span>
					<div class="width-full">
						<select type="text" style="width: 150px;" data-bind="kendoDropDownList: { data: rpt.optionFiscalYears, value: sr.fiscalYear }"></select>
					</div>
				</div>

				<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
					<span class="input-group-addon align-right">Sub channels</span>
					<div class="width-full">
						<select type="text" style="width: 150px;" data-bind="kendoMultiSelect: { data: rpt.optionsChannels, dataValueField: '_id', dataTextField: 'Name', value: sr.breakdownChannels, placeholder: 'Choose channels' }"></select>
					</div>
					<div class="clearfix"></div>
				</div>

				<div class="clearfix"></div>
			</div>
			
			<div class="clearfix"></div>
		</div>

		<div data-bind="visible: sr.contentIsLoading">
			{{template "_loader.html"}}
		</div>

		<div data-bind="visible: !sr.contentIsLoading()">
			<div class="grid"></div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

	</div>

	{{template "_filter.html"}}
</div>
